<?xml version="1.0" encoding="UTF-8"?>
<!-- Dev-only test config (PLAN §10). Never deployed. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="planning-poker">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
